.idea/
venv/
**/__pycache__/
*.jsonl
**/SF-Gram-book-contents/
finetuned_models/
train_dama.json
all_sf.txt
bookcorpus.txt
kaggle_fiction_dataset.txt
contexts_to_parse*.txt
parsed_contexts*.json
std_data.json
**/causal_tracing_datasets/
**/finetuning_datasets/
**/for_each_sentence/
*.npy
**/results_05_20/

*.err
*.out
*.png
**/draft/
*.pdf
*table.txt
*table_latex.txt
**/saved_objects/